{%-comment-%}
  Mr. Green Jekyll Theme - v1.1.0 (https://github.com/MrGreensWorkshop/MrGreen-JekyllTheme)
  Copyright (c) 2022 Mr. Green's Workshop https://www.MrGreensWorkshop.com
  Licensed under MIT
{%-endcomment-%}

{%- include post_common/post-info-data.liquid date = include.post.date url=include.post.url title = include.post.title content = include.post.content comment_off = include.post.comments_disable -%}

{%- if include.post.img %}
{%- capture home_img_background_style -%} style="--background-image: url('{{ include.post.img }}');" {%- endcapture -%}
{%- else -%}
  {%- capture home_img_tag -%} {%- endcapture -%}
{%- endif -%}

<div class="multipurpose-container post-container">
  <div class="post-title home-heading" {{ home_img_background_style }} >
    <div class="home-heading-message">
      {{ page_title }}
    </div>
    <br/>
    <div class="home-heading-meta">
      {%- include post_common/post-info-html.html date=post_date read_time=read_time url=post_url comment_style = comment_style -%}
    </div>
  </div>
  <div class="markdown-style" style="margin-top: 40px">
    {{ include.post.content }}
    {%- if site.data.conf.posts.share_buttons == true %}
      {%- include post_common/share.html title = page_title url = include.post.url -%}
    {% endif -%}

    {% capture checkPath%}{{site.baseurl}}/assets/img/posts/{{include.post.lng_pair}}/gallery{% endcapture %}
    {% assign galleryImages = site.static_files | where_exp: "image", "image.path contains checkPath" %}

    {% assign gallerySize = galleryImages | size %}
    {% if gallerySize > 0 %}
      <hr/>
      <div id="postgallery">

        {% for image in galleryImages %}
            <img src="{{site.baseurl}}{{image.path}}" />
        {% endfor %}
      </div>

    {% endif %}

  </div>
</div>
